<!DOCTYPE html>

<html lang="ru">
<title>Политика безопасности</title>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>

  <p>Мобильное приложение «<strong>АтомЭнергоСбыт</strong>» обеспечивает удаленное самообслуживание абонентов (далее –
    Пользователей) в мобильном приложении обслуживающей организации, а также оплачивать выставленные счета с
    использованием банковских платежных карт.</p>
  <p>Настоящие Правила адресованы физическим лицам и являются официальным публичным предложением Обслуживающей
    организации, именуемой далее Предприятие, абонентам (Пользователям) воспользоваться сервисом Мобильное приложение
    «АтомЭнергоСбыт» на условиях, являющихся предметом настоящих «Правил работы с сервисом Мобильное приложение
    «АтомЭнергоСбыт» для физических лиц» (далее - Правила).</p>
  <p>Предприятие оставляет за собой право в одностороннем порядке вносить изменения в настоящие Правила.</p>
  <h3>Термины и определения </h3>
  <ol type="1">
    <li>Авторизация – это процесс входа в Мобильное приложение «АтомЭнергоСбыт» с помощью введения Ваших
      регистрационных данных – номера телефона и пароля.</li>
    <li>Аутентификационные данные – уникальные данные, использующиеся для Аутентификации Пользователя. </li>
    <li>Аутентификация Пользователя – процесс анализа и сопоставления введенных Пользователем Аутентификационных
      данных с данными учетной записи. Аутентификация Пользователя производится Предприятием с использованием
      программно-аппаратных средств.</li>
    <li>Мобильное приложение «АтомЭнергоСбыт» – сервис, позволяющий Пользователю получать информацию о состоянии
      выставленных ему счетов, оплачивать счета удобным способом с использованием банковской карты, просматривать
      детализацию начислений (по услугам) за выбранный период, просматривать историю показаний приборов учета, а так же
      заносить новые. Кроме того Мобильное приложение «АтомЭнергоСбыт» позволяет Пользователю сформировать квитанцию в
      формате PDF и отправить её на адрес электронной почты. Мобильное приложение «АтомЭнергоСбыт» хранит ряд настроек,
      в
      т.ч. доступных для изменения Пользователю, позволяющих упростить и ускорить работу Пользователя с сервисом
      Мобильное приложение.</li>
    <li>Пароль – известная только Пользователю секретная последовательность символов, входящая в состав
      Аутентификационных данных. </li>
    <li>Регистрация – процедура создания Учетной записи Пользователя и установления ее связи с Аутентификационными
      данными Пользователя, обеспечивающая возможность предоставления Пользователю доступа к Мобильному приложению.</li>
    <li>Учетная запись – набор данных о Пользователе, необходимый для его работы с сервисом Мобильное приложение
      «АтомЭнергоСбыт».</li>
  </ol>
  <h3>Условия использования сервиса Мобильное приложение «АтомЭнергоСбыт» </h3>
  <ol type="1">
    <li>Для получения возможности доступа к Мобильному приложению Пользователь должен пройти процедуру
      Регистрации.</li>
    <li>Процедура Регистрации выполняется в следующем порядке:</li>
    <ul>
      <li>Пользователь заполняет форму регистрации в Мобильном приложении, указывая номер своего телефона и свой
        адрес электронной почты. </li>
      <li>Далее Пользователь обязан придумать секретный пароль и ввести его повторно.</li>
    </ul>
    <li>В процессе регистрации пользователь должен будет ввести SMS пароль, отправленные на номер телефона,
      указанный
      при регистрации. </li>
    <li>Пользователь получает доступ к Мобильному приложению только после проведения Аутентификации Пользователя.
      Все действия, совершенные в Мобильном приложении после успешного проведения Аутентификации Пользователя,
      считаются совершенными этим Пользователем. </li>
    <li>Ответственность за хранение Пароля Пользователя и недоступность Пароля третьим лицам полностью несет
      Пользователь. Предприятие не несет ответственности перед Пользователем за убытки, понесенные Пользователем в
      связи с утерей Пароля либо доступностью Пароля третьим лицам. </li>
    <li>Выполняя процедуру Регистрации, Пользователь подтверждает, что он полностью и безоговорочно принимает
      настоящие Правила и обязуется их выполнять при использовании сервиса Мобильное приложение.</li>
  </ol>
  <h3>Заключительные положения </h3>
  <ol type="1">
    <li>Предприятие обязуется использовать данные, полученные в процессе использования Пользователем Сервиса
      Мобильное приложение, исключительно в целях обеспечения функционирования Сервиса Мобильное приложение и
      осуществления Платежей. </li>
    <li>Предприятие оставляет за собой право по собственному усмотрению в любой момент прекратить работу Сервиса
      Мобильное приложение «АтомЭнергоСбыт» как с предварительным уведомлением Абонента, так и без такового. </li>
    <li>Предприятие не проверяет законность владения Пользователем денежными средствами. </li>
    <li>Предприятие не несет ответственности за неполучение или несвоевременное получение Пользователями
      уведомлений о состоянии счета, ввиду того, что:</li>
    <ul>
      <li>доставка сообщений на мобильное устройство Пользователя возможна исключительно в пределах зоны покрытия
        базовыми станциями соответствующих сетей операторов мобильной связи; </li>
      <li>мобильное устройство Пользователя может быть выключено в момент доставки сообщений;</li>
      <li>при доставке сообщений электронный почтовый ящик Пользователя может быть заблокирован или оператор связи,
        предоставляющий услуги электронной почты Пользователю, может отказать в приеме сообщения по техническим или
        иным
        причинам. </li>
    </ul>
    <li>Предприятие ни при каких условиях не берет на себя обязательства и не является оператором персональных
      данных в рамках определений данных Федеральным законом от 27.07.2006 N 152-ФЗ "О персональных данных".</li>
  </ol>

</body>

</html>