<!DOCTYPE html>

<html lang="ru">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Политика конфиденциальности</title>

<body>

  <div>

    <p>Мобильное приложение «АтомЭнергоСбыт» обеспечивает удаленное самообслуживание абонентов (далее – Пользователей)
      в мобильном приложении обслуживающей организации, а также оплачивать выставленные счета с использованием
      банковских платежных карт.</p>
    <p>Настоящие Правила адресованы физическим лицам и являются официальным публичным предложением Обслуживающей
      организации, именуемой далее Предприятие, абонентам (Пользователям) воспользоваться сервисом Мобильное приложение
      «АтомЭнергоСбыт» на условиях, являющихся предметом настоящих «Правил работы с сервисом Мобильное приложение
      «АтомЭнергоСбыт» для физических лиц» (далее - Правила).</p>
    <p>Предприятие оставляет за собой право в одностороннем порядке вносить изменения в настоящие Правила.</p>
    <h3>1. Термины и определения </h3>
    <p>1.1. Авторизация – это процесс входа в Мобильное приложение «АтомЭнергоСбыт» с помощью введения Ваших
      регистрационных данных – номера телефона и пароля.</p>
    <p>1.2. Аутентификационные данные – уникальные данные, использующиеся для Аутентификации Пользователя. </p>
    <p>1.3. Аутентификация Пользователя – процесс анализа и сопоставления введенных Пользователем Аутентификационных
      данных с данными учетной записи. Аутентификация Пользователя производится Предприятием с использованием
      программно-аппаратных средств. </p>
    <p>1.4. Мобильное приложение «АтомЭнергоСбыт» – сервис, позволяющий Пользователю получать информацию о состоянии
      выставленных ему счетов, оплачивать счета удобным способом с использованием банковской карты, просматривать
      детализацию начислений (по услугам) за выбранный период, просматривать историю показаний приборов учета, а так же
      заносить новые. Кроме того Мобильное приложение «АтомЭнергоСбыт» позволяет Пользователю сформировать квитанцию в
      формате PDF и отправить её на адрес электронной почты. Мобильное приложение «АтомЭнергоСбыт» хранит ряд настроек,
      в
      т.ч. доступных для изменения Пользователю, позволяющих упростить и ускорить работу Пользователя с сервисом
      Мобильное приложение.</p>
    <p>1.5. Пароль – известная только Пользователю секретная последовательность символов, входящая в состав
      Аутентификационных данных. </p>
    <p>1.6. Регистрация – процедура создания Учетной записи Пользователя и установления ее связи с Аутентификационными
      данными Пользователя, обеспечивающая возможность предоставления Пользователю доступа к Мобильному приложению.</p>
    <p>1.7. Учетная запись – набор данных о Пользователе, необходимый для его работы с сервисом Мобильное приложение
      «АтомЭнергоСбыт».</p>
    <h3>2. Условия использования сервиса Мобильное приложение «АтомЭнергоСбыт» </h3>
    <p>2.1. Для получения возможности доступа к Мобильному приложению Пользователь должен пройти процедуру Регистрации.</p>
    <p>2.2. Процедура Регистрации выполняется в следующем порядке: </p>
    <p>2.2.1. Пользователь заполняет форму регистрации в Мобильном приложении, указывая номер своего телефона и свой
      адрес электронной почты. </p>
    <p>2.2.2. Далее Пользователь обязан придумать секретный пароль и ввести его повторно. </p>
    <p>2.3. В процессе регистрации пользователь должен будет ввести SMS пароль, отправленные на номер телефона,
      указанный
      при регистрации. </p>
    <p>2.4. Пользователь получает доступ к Мобильному приложению только после проведения Аутентификации Пользователя.
      Все действия, совершенные в Мобильном приложении после успешного проведения Аутентификации Пользователя,
      считаются совершенными этим Пользователем. </p>
    <p>2.5. Ответственность за хранение Пароля Пользователя и недоступность Пароля третьим лицам полностью несет
      Пользователь. Предприятие не несет ответственности перед Пользователем за убытки, понесенные Пользователем в
      связи с утерей Пароля либо доступностью Пароля третьим лицам. </p>
    <p>2.6. Выполняя процедуру Регистрации, Пользователь подтверждает, что он полностью и безоговорочно принимает
      настоящие Правила и обязуется их выполнять при использовании сервиса Мобильное приложение.</p>
    <h3>3. Заключительные положения </h3>
    <p>3.1. Предприятие обязуется использовать данные, полученные в процессе использования Пользователем Сервиса
      Мобильное приложение, исключительно в целях обеспечения функционирования Сервиса Мобильное приложение и
      осуществления Платежей. </p>
    <p>3.2. Предприятие оставляет за собой право по собственному усмотрению в любой момент прекратить работу Сервиса
      Мобильное приложение «АтомЭнергоСбыт» как с предварительным уведомлением Абонента, так и без такового. </p>
    <p>3.3. Предприятие не проверяет законность владения Пользователем денежными средствами. </p>
    <p>3.4. Предприятие не несет ответственности за неполучение или несвоевременное получение Пользователями
      уведомлений о состоянии счета, ввиду того, что:</p>
    <p>- доставка сообщений на мобильное устройство Пользователя возможна исключительно в пределах зоны покрытия
      базовыми станциями соответствующих сетей операторов мобильной связи; </p>
    <p>- мобильное устройство Пользователя может быть выключено в момент доставки сообщений;</p>
    <p>- при доставке сообщений электронный почтовый ящик Пользователя может быть заблокирован или оператор связи,
      предоставляющий услуги электронной почты Пользователю, может отказать в приеме сообщения по техническим или иным
      причинам. </p>
    <p>3.5. Предприятие ни при каких условиях не берет на себя обязательства и не является оператором персональных
      данных в рамках определений данных Федеральным законом от 27.07.2006 N 152-ФЗ "О персональных данных".</p>

  </div>
</body>
<html>